<!-- include header -->
<%- include('includes/_header')-%>

    <!-- feed (control panel) -->
    <div class="control-panel">
        <div class="container">
            <div class="box-nav d-flex jusify-between">
                <div class="filter">
                    <a href="/"><i class="fa-regular fa-circle-left"></i> All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to update the user's info</span>
            </div>

            <!-- form -->
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="text" name="name" value="<%= user.name %>" placeholder="username">
                    </div>

                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="Email" value="<%= user.email %>" placeholder="example@create.net">
                    </div>

                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" name="gender" value="Male" id="gender-1" <%= user.gender == 'Male'?'checked':''%>>
                            <label for="gender-1" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" name="gender" value="Female" id="gender-2" <%= user.gender == 'Female'?'checked':''%>>
                            <label for="gender-2" class="radio-label">Female</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="status" class="text-light">Status</label>
                        <div class="radio inline">
                            <input type="radio" name="status" value="Premium" id="status-1" <%= user.status == 'Premium'?'checked':''%>  >
                            <label for="status-1" class="radio-label">Premium</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" name="status" value="Free" id="status-2" <%= user.status == 'Free'?'checked':''%>>
                            <label for="status-2" class="radio-label">Free</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>


                </div>
            </form>

        </div>
    </div>


<!-- footer -->
<%- include('includes/_footer')-%>
